@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';

body {
  margin: 0;

  --background-color-dark: #28293e;
  --background-color-light: #fdf0e9;
  --color-light: #ffffff;
  --color-accent-dark: #391400;
  --color-accent-light: #16cd53;

  --heading-72-80: 400 72px/80px Epilogue;
  --heading-56-64: 400 56px/64px Epilogue;
  --main-16-32: 400 16px/32px Epilogue;
  --card-40-48: 400 40px/48px Epilogue;
  --button-14-0: 400 14px/32px Epilogue;

  font-family: 'Epilogue', sans-serif;
  background-color: var(--background-color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
